$base_font: "Hiragino Sans";
$font_color: #333333;
$width: 1209px;

body{
  color: $font_color;
  font-family: $base_font;
}

.wrapper{
  width: 1300px;
  margin: 0 auto;
}

header{
  width: $width;
  height: 739px;
  background-image: url(../img/main.png);
  p{

  }
}

ul.nav{
  float: right;
}
