body {
  color: #333333;
  font-family: "Hiragino Sans";
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

header {
  width: 1209px;
  height: 739px;
  background-image: url(../img/main.png);
}

ul.nav {
  float: right;
}
